<div class="column">
  <div class="card">
    <div class="card-content">
      <h2><%= customer.name %></h2>
      <figure class="image is-128x128">
        <%= image_tag customer.image %>
      </figure>
    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <h3><%= customer.phone %></h3>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <h3><%= customer.email %></h3>
      </div>
    </div>
  </div>
</div>



